<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
            rel="stylesheet"
        />
        <title>Home</title>
        <link rel="stylesheet" href="/styles/index.css" />
    </head>
    <body>
        <audio
            src="/audio/kbc_intro_audio.mp3"
            type="audio/mp3"
            id="kbc-intro-music"
            autoplay
        ></audio>

        <div id="logo">
            <svg
                width="1113"
                height="104"
                id="svg-logo"
                viewBox="0 0 1113 104"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M18.808 41.824L49.72 76H38.968L10.744 44.416V76H2.008V8.31999H10.744V39.712L39.064 8.31999H49.72L18.808 41.824Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M79.9517 22.624C85.0717 22.624 89.3917 23.904 92.9117 26.464C96.4957 29.024 98.9917 32.448 100.4 36.736V23.296H109.136V76H100.4V62.56C98.9917 66.848 96.4957 70.272 92.9117 72.832C89.3917 75.392 85.0717 76.672 79.9517 76.672C75.2797 76.672 71.1197 75.584 67.4717 73.408C63.8237 71.232 60.9437 68.128 58.8317 64.096C56.7837 60 55.7597 55.2 55.7597 49.696C55.7597 44.192 56.7837 39.392 58.8317 35.296C60.9437 31.2 63.8237 28.064 67.4717 25.888C71.1197 23.712 75.2797 22.624 79.9517 22.624ZM82.4477 30.4C77.0717 30.4 72.7517 32.128 69.4877 35.584C66.2877 38.976 64.6877 43.68 64.6877 49.696C64.6877 55.712 66.2877 60.448 69.4877 63.904C72.7517 67.296 77.0717 68.992 82.4477 68.992C85.9037 68.992 88.9757 68.192 91.6637 66.592C94.4157 64.992 96.5597 62.752 98.0957 59.872C99.6317 56.928 100.4 53.536 100.4 49.696C100.4 45.856 99.6317 42.464 98.0957 39.52C96.5597 36.576 94.4157 34.336 91.6637 32.8C88.9757 31.2 85.9037 30.4 82.4477 30.4Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M169.887 23.296V76H161.151V63.616C159.807 67.904 157.407 71.2 153.951 73.504C150.559 75.744 146.591 76.864 142.047 76.864C135.967 76.864 131.039 74.912 127.263 71.008C123.487 67.04 121.599 61.376 121.599 54.016V23.296H130.335V53.152C130.335 58.4 131.679 62.464 134.367 65.344C137.055 68.16 140.703 69.568 145.311 69.568C150.111 69.568 153.951 68.032 156.831 64.96C159.711 61.824 161.151 57.28 161.151 51.328V23.296H169.887Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M211.627 22.432C217.771 22.432 222.731 24.416 226.507 28.384C230.283 32.288 232.171 37.952 232.171 45.376V76H223.435V46.144C223.435 40.896 222.091 36.864 219.403 34.048C216.715 31.232 213.067 29.824 208.459 29.824C203.659 29.824 199.819 31.392 196.939 34.528C194.059 37.6 192.619 42.112 192.619 48.064V76H183.883V23.296H192.619V35.776C193.963 31.488 196.331 28.192 199.723 25.888C203.179 23.584 207.147 22.432 211.627 22.432Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M302.313 40.96C306.473 41.856 309.833 43.84 312.393 46.912C315.017 49.984 316.329 53.6 316.329 57.76C316.329 63.264 314.441 67.68 310.665 71.008C306.953 74.336 301.545 76 294.441 76H269.289V8.31999H294.057C300.841 8.31999 305.993 9.82399 309.513 12.832C313.033 15.84 314.793 19.968 314.793 25.216C314.793 29.568 313.609 33.088 311.241 35.776C308.937 38.464 305.961 40.192 302.313 40.96ZM278.025 37.984H292.617C296.905 37.984 300.169 36.992 302.409 35.008C304.713 33.024 305.865 30.24 305.865 26.656C305.865 23.2 304.745 20.48 302.505 18.496C300.265 16.512 296.841 15.52 292.233 15.52H278.025V37.984ZM292.809 68.704C297.417 68.704 300.969 67.648 303.465 65.536C306.025 63.424 307.305 60.448 307.305 56.608C307.305 52.832 305.993 49.888 303.369 47.776C300.809 45.6 297.225 44.512 292.617 44.512H278.025V68.704H292.809Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M348.827 22.624C353.947 22.624 358.267 23.904 361.787 26.464C365.371 29.024 367.867 32.448 369.275 36.736V23.296H378.011V76H369.275V62.56C367.867 66.848 365.371 70.272 361.787 72.832C358.267 75.392 353.947 76.672 348.827 76.672C344.155 76.672 339.995 75.584 336.347 73.408C332.699 71.232 329.819 68.128 327.707 64.096C325.659 60 324.635 55.2 324.635 49.696C324.635 44.192 325.659 39.392 327.707 35.296C329.819 31.2 332.699 28.064 336.347 25.888C339.995 23.712 344.155 22.624 348.827 22.624ZM351.323 30.4C345.947 30.4 341.627 32.128 338.363 35.584C335.163 38.976 333.563 43.68 333.563 49.696C333.563 55.712 335.163 60.448 338.363 63.904C341.627 67.296 345.947 68.992 351.323 68.992C354.779 68.992 357.851 68.192 360.539 66.592C363.291 64.992 365.435 62.752 366.971 59.872C368.507 56.928 369.275 53.536 369.275 49.696C369.275 45.856 368.507 42.464 366.971 39.52C365.435 36.576 363.291 34.336 360.539 32.8C357.851 31.2 354.779 30.4 351.323 30.4Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M419.658 22.432C425.802 22.432 430.762 24.416 434.538 28.384C438.314 32.288 440.202 37.952 440.202 45.376V76H431.466V46.144C431.466 40.896 430.122 36.864 427.434 34.048C424.746 31.232 421.098 29.824 416.49 29.824C411.69 29.824 407.85 31.392 404.97 34.528C402.09 37.6 400.65 42.112 400.65 48.064V76H391.914V23.296H400.65V35.776C401.994 31.488 404.362 28.192 407.754 25.888C411.21 23.584 415.178 22.432 419.658 22.432Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M502.082 46.72C502.082 48.576 501.954 50.176 501.698 51.52H459.554C459.746 57.536 461.442 62.048 464.642 65.056C467.906 68.064 471.874 69.568 476.546 69.568C480.77 69.568 484.29 68.512 487.106 66.4C489.986 64.224 491.746 61.344 492.386 57.76H501.698C501.058 61.408 499.618 64.672 497.378 67.552C495.202 70.432 492.354 72.672 488.834 74.272C485.314 75.872 481.346 76.672 476.93 76.672C471.874 76.672 467.394 75.584 463.49 73.408C459.586 71.232 456.514 68.128 454.274 64.096C452.098 60 451.01 55.2 451.01 49.696C451.01 44.192 452.098 39.392 454.274 35.296C456.514 31.2 459.586 28.064 463.49 25.888C467.394 23.712 471.874 22.624 476.93 22.624C482.05 22.624 486.498 23.712 490.274 25.888C494.114 28.064 497.026 30.976 499.01 34.624C501.058 38.272 502.082 42.304 502.082 46.72ZM493.25 47.296C493.442 43.392 492.802 40.128 491.33 37.504C489.858 34.88 487.842 32.928 485.282 31.648C482.722 30.368 479.938 29.728 476.93 29.728C472.13 29.728 468.098 31.232 464.834 34.24C461.57 37.184 459.81 41.536 459.554 47.296H493.25Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M535.108 22.624C540.228 22.624 544.548 23.904 548.068 26.464C551.652 29.024 554.148 32.448 555.556 36.736V23.296H564.292V76.864C564.292 81.728 563.268 86.048 561.22 89.824C559.172 93.6 556.292 96.544 552.58 98.656C548.868 100.768 544.548 101.824 539.62 101.824C532.516 101.824 526.724 100.096 522.244 96.64C517.764 93.248 514.916 88.64 513.7 82.816H522.34C523.364 86.336 525.284 89.088 528.1 91.072C530.98 93.12 534.66 94.144 539.14 94.144C543.876 94.144 547.78 92.608 550.852 89.536C553.988 86.528 555.556 82.304 555.556 76.864V62.56C554.148 66.848 551.652 70.272 548.068 72.832C544.548 75.392 540.228 76.672 535.108 76.672C530.436 76.672 526.276 75.584 522.628 73.408C518.98 71.232 516.1 68.128 513.988 64.096C511.94 60 510.916 55.2 510.916 49.696C510.916 44.192 511.94 39.392 513.988 35.296C516.1 31.2 518.98 28.064 522.628 25.888C526.276 23.712 530.436 22.624 535.108 22.624ZM537.604 30.4C532.228 30.4 527.908 32.128 524.644 35.584C521.444 38.976 519.844 43.68 519.844 49.696C519.844 55.712 521.444 60.448 524.644 63.904C527.908 67.296 532.228 68.992 537.604 68.992C541.06 68.992 544.132 68.192 546.82 66.592C549.572 64.992 551.716 62.752 553.252 59.872C554.788 56.928 555.556 53.536 555.556 49.696C555.556 45.856 554.788 42.464 553.252 39.52C551.716 36.576 549.572 34.336 546.82 32.8C544.132 31.2 541.06 30.4 537.604 30.4Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M599.795 22.624C604.915 22.624 609.235 23.904 612.755 26.464C616.339 29.024 618.836 32.448 620.244 36.736V23.296H628.979V76H620.244V62.56C618.836 66.848 616.339 70.272 612.755 72.832C609.235 75.392 604.915 76.672 599.795 76.672C595.123 76.672 590.963 75.584 587.315 73.408C583.667 71.232 580.787 68.128 578.675 64.096C576.627 60 575.604 55.2 575.604 49.696C575.604 44.192 576.627 39.392 578.675 35.296C580.787 31.2 583.667 28.064 587.315 25.888C590.963 23.712 595.123 22.624 599.795 22.624ZM602.292 30.4C596.916 30.4 592.595 32.128 589.331 35.584C586.131 38.976 584.531 43.68 584.531 49.696C584.531 55.712 586.131 60.448 589.331 63.904C592.595 67.296 596.916 68.992 602.292 68.992C605.748 68.992 608.82 68.192 611.508 66.592C614.26 64.992 616.404 62.752 617.94 59.872C619.476 56.928 620.244 53.536 620.244 49.696C620.244 45.856 619.476 42.464 617.94 39.52C616.404 36.576 614.26 34.336 611.508 32.8C608.82 31.2 605.748 30.4 602.292 30.4Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M696.554 7.64799C704.81 7.64799 711.626 9.69599 717.002 13.792C722.378 17.824 726.09 23.36 728.138 30.4H718.922C717.194 25.92 714.41 22.368 710.57 19.744C706.73 17.056 702.026 15.712 696.458 15.712C692.042 15.712 688.074 16.8 684.554 18.976C681.098 21.088 678.346 24.16 676.298 28.192C674.314 32.16 673.322 36.832 673.322 42.208C673.322 47.52 674.314 52.16 676.298 56.128C678.346 60.096 681.098 63.168 684.554 65.344C688.074 67.456 692.042 68.512 696.458 68.512C702.026 68.512 706.73 67.2 710.57 64.576C714.41 61.888 717.194 58.304 718.922 53.824H728.138C726.09 60.864 722.378 66.432 717.002 70.528C711.626 74.56 704.81 76.576 696.554 76.576C690.218 76.576 684.618 75.136 679.754 72.256C674.89 69.312 671.082 65.248 668.33 60.064C665.642 54.816 664.298 48.864 664.298 42.208C664.298 35.488 665.642 29.504 668.33 24.256C671.082 19.008 674.89 14.944 679.754 12.064C684.618 9.11999 690.218 7.64799 696.554 7.64799Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M748.557 33.952C750.285 30.304 752.813 27.488 756.141 25.504C759.469 23.456 763.436 22.432 768.044 22.432V31.936H765.357C760.429 31.936 756.396 33.216 753.26 35.776C750.124 38.272 748.557 42.432 748.557 48.256V76H739.82V23.296H748.557V33.952Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M800.568 22.624C805.624 22.624 810.136 23.712 814.104 25.888C818.136 28.064 821.272 31.2 823.512 35.296C825.816 39.392 826.968 44.192 826.968 49.696C826.968 55.2 825.816 60 823.512 64.096C821.272 68.128 818.136 71.232 814.104 73.408C810.136 75.584 805.624 76.672 800.568 76.672C795.512 76.672 790.968 75.584 786.936 73.408C782.968 71.232 779.832 68.128 777.528 64.096C775.224 60 774.072 55.2 774.072 49.696C774.072 44.192 775.224 39.392 777.528 35.296C779.832 31.2 782.968 28.064 786.936 25.888C790.968 23.712 795.512 22.624 800.568 22.624ZM800.568 30.304C797.432 30.304 794.52 31.008 791.832 32.416C789.208 33.824 787.064 36 785.4 38.944C783.8 41.824 783 45.408 783 49.696C783 53.92 783.8 57.504 785.4 60.448C787.064 63.328 789.208 65.472 791.832 66.88C794.52 68.288 797.432 68.992 800.568 68.992C803.704 68.992 806.584 68.288 809.208 66.88C811.896 65.472 814.04 63.328 815.64 60.448C817.304 57.504 818.136 53.92 818.136 49.696C818.136 45.408 817.304 41.824 815.64 38.944C814.04 36 811.896 33.824 809.208 32.416C806.584 31.008 803.704 30.304 800.568 30.304Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M847.088 33.952C848.816 30.304 851.344 27.488 854.672 25.504C858 23.456 861.968 22.432 866.576 22.432V31.936H863.888C858.96 31.936 854.928 33.216 851.792 35.776C848.656 38.272 847.088 42.432 847.088 48.256V76H838.352V23.296H847.088V33.952Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M923.675 46.72C923.675 48.576 923.548 50.176 923.292 51.52H881.148C881.34 57.536 883.035 62.048 886.235 65.056C889.499 68.064 893.468 69.568 898.14 69.568C902.364 69.568 905.884 68.512 908.7 66.4C911.58 64.224 913.339 61.344 913.979 57.76H923.292C922.652 61.408 921.211 64.672 918.971 67.552C916.795 70.432 913.947 72.672 910.427 74.272C906.907 75.872 902.939 76.672 898.523 76.672C893.467 76.672 888.987 75.584 885.083 73.408C881.179 71.232 878.107 68.128 875.867 64.096C873.691 60 872.604 55.2 872.604 49.696C872.604 44.192 873.691 39.392 875.867 35.296C878.107 31.2 881.179 28.064 885.083 25.888C888.987 23.712 893.467 22.624 898.523 22.624C903.643 22.624 908.091 23.712 911.867 25.888C915.707 28.064 918.62 30.976 920.604 34.624C922.652 38.272 923.675 42.304 923.675 46.72ZM914.844 47.296C915.036 43.392 914.396 40.128 912.924 37.504C911.452 34.88 909.435 32.928 906.875 31.648C904.315 30.368 901.531 29.728 898.523 29.728C893.723 29.728 889.691 31.232 886.427 34.24C883.163 37.184 881.404 41.536 881.148 47.296H914.844Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M964.19 22.624C968.862 22.624 973.022 23.712 976.67 25.888C980.318 28.064 983.166 31.2 985.214 35.296C987.326 39.392 988.382 44.192 988.382 49.696C988.382 55.2 987.326 60 985.214 64.096C983.166 68.128 980.318 71.232 976.67 73.408C973.022 75.584 968.862 76.672 964.19 76.672C959.07 76.672 954.718 75.392 951.134 72.832C947.614 70.208 945.182 66.784 943.838 62.56V100.96H935.102V23.296H943.838V36.736C945.182 32.512 947.614 29.12 951.134 26.56C954.718 23.936 959.07 22.624 964.19 22.624ZM961.694 30.4C958.302 30.4 955.23 31.2 952.478 32.8C949.726 34.336 947.582 36.576 946.046 39.52C944.51 42.464 943.742 45.856 943.742 49.696C943.742 53.536 944.51 56.928 946.046 59.872C947.582 62.752 949.726 64.992 952.478 66.592C955.23 68.192 958.302 68.992 961.694 68.992C967.134 68.992 971.454 67.296 974.654 63.904C977.918 60.448 979.55 55.712 979.55 49.696C979.55 43.68 977.918 38.976 974.654 35.584C971.454 32.128 967.134 30.4 961.694 30.4Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M1021.39 22.624C1026.51 22.624 1030.83 23.904 1034.35 26.464C1037.93 29.024 1040.43 32.448 1041.84 36.736V23.296H1050.57V76H1041.84V62.56C1040.43 66.848 1037.93 70.272 1034.35 72.832C1030.83 75.392 1026.51 76.672 1021.39 76.672C1016.72 76.672 1012.56 75.584 1008.91 73.408C1005.26 71.232 1002.38 68.128 1000.27 64.096C998.221 60 997.197 55.2 997.197 49.696C997.197 44.192 998.221 39.392 1000.27 35.296C1002.38 31.2 1005.26 28.064 1008.91 25.888C1012.56 23.712 1016.72 22.624 1021.39 22.624ZM1023.89 30.4C1018.51 30.4 1014.19 32.128 1010.93 35.584C1007.73 38.976 1006.13 43.68 1006.13 49.696C1006.13 55.712 1007.73 60.448 1010.93 63.904C1014.19 67.296 1018.51 68.992 1023.89 68.992C1027.34 68.992 1030.41 68.192 1033.1 66.592C1035.85 64.992 1038 62.752 1039.53 59.872C1041.07 56.928 1041.84 53.536 1041.84 49.696C1041.84 45.856 1041.07 42.464 1039.53 39.52C1038 36.576 1035.85 34.336 1033.1 32.8C1030.41 31.2 1027.34 30.4 1023.89 30.4Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M1089.63 68.32V76H1083.1C1077.72 76 1073.69 74.72 1071 72.16C1068.38 69.6 1067.07 65.312 1067.07 59.296V30.88H1059.2V23.296H1067.07V10.144H1075.9V23.296H1089.53V30.88H1075.9V59.488C1075.9 62.88 1076.51 65.216 1077.72 66.496C1079 67.712 1081.18 68.32 1084.25 68.32H1089.63Z"
                    stroke="white"
                    stroke-width="4"
                />
                <path
                    d="M1098.75 7.83999C1098.75 6.23999 1099.3 4.95999 1100.39 3.99998C1101.47 2.97599 1102.91 2.46399 1104.71 2.46399C1106.5 2.46399 1107.94 2.97599 1109.03 3.99998C1110.11 4.95999 1110.66 6.23999 1110.66 7.83999C1110.66 9.43999 1110.11 10.752 1109.03 11.776C1107.94 12.736 1106.5 13.216 1104.71 13.216C1102.91 13.216 1101.47 12.736 1100.39 11.776C1099.3 10.752 1098.75 9.43999 1098.75 7.83999ZM1109.03 23.296V76H1100.29V23.296H1109.03Z"
                    stroke="white"
                    stroke-width="4"
                />
            </svg>
        </div>

        <div id="button">
            <button>Play</button>
        </div>

        <img id="amitabh-img" src="/img/amitabh_blue.png" alt="" />

        <div id="logo-img-shadow"></div>
        <img id="logo-img" src="/img/logo.png" alt="" />

        <div id="powered-by">
            <h3>Powered by</h3>
            <img src="/img/IDFC.jpg" alt="" />
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
