* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Poppins', sans-serif;
}

body {
   background-color: #390f4e;
   overflow: hidden;
}

#logo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: fill-anim 0.5s ease forwards 5s;
}

@keyframes line-anim {
   to {
      stroke-dashoffset: 0;
   }
}

@keyframes fill-anim {
   from {
      fill: transparent;
   }
   to {
      fill: white;
   }
}

#nav-bar {
   display: flex;
   justify-content: flex-end;
   height: 8vh;
   opacity: 0;
}

#nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 30%;
}

#nav-links li {
   list-style: none;
}

#nav-links a {
   text-decoration: none;
   color: #f0d245;
   text-transform: uppercase;
   font-size: 1.2rem;
}

#nav-links li:hover {
   transform: scale(1.1);
}

/* Play Button */

#button {
   position: absolute;
   top: 85%;
   left: 46%;
   transform: translateY(200px);
}

#button button {
   background: none;
   border: 3px solid #f0d245;
   font-size: 2rem;
   padding: 0.4rem 1.2rem;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   text-transform: capitalize;
   color: #f0d245;
}

#button button:hover {
   background: #f0d245;
   color: #390f4e;
}

#upperEdge {
   border: 3px inset #f0d245;
   border-top-right-radius: 10px;
   border-left: none;
   border-bottom: none;
}

/* Amitabh image */

#amitabh-img {
   position: absolute;
   bottom: 0;
   transform: translateX(-100%);
   height: 600px;
   width: 313px;
}

/* Logo image  */

#logo-img-shadow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50.5%, -50%);
   height: 390px;
   width: 390px;
   border-radius: 195px;
   box-shadow: 0px 0px 5px 5px #33c7ff;
   opacity: 0;
}

#logo-img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 420px;
   width: 420px;
   opacity: 0;
}

/* Powered by  */

#powered-by {
   position: absolute;
   top: 37%;
   right: 10%;
   transform: translateX(500px);
}

#powered-by h3 {
   color: white;
   padding: 2px;
   text-transform: capitalize;
}

#powered-by img {
   width: 150px;
   height: 150px;
}