* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    -ms-user-select: none;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

button {
    outline: none;
    cursor: pointer;
}

main {
    width: 70%;
    padding: 2%;
    background-color: rgb(236, 236, 236);
    position: relative;
}

.message {
    background-color: rgb(232, 255, 232);
    border: 2px solid green;
    padding: 10px 25px;
    max-width: 100%;
    margin: 0px 0px 20px 0px;
    border-radius: 0px 15px 0px 15px;
    display: none;
}

.message h3 {
    color: green;
}

/* Timer */

.timer-div {
    display: flex;
    align-items: baseline;
    background: inherit;
    justify-content: center;
}

.timer {
    position: relative;
    background: #390f4e;
    width: 120px;
    height: 60px;
    color: #ffffff;
    font-size: 30px;
    border-top-left-radius: 63px;
    border-top-right-radius: 63px;
    border: 3px solid #f0d245;
    border-bottom: 0;
    margin: 0px 10px;
}

.timer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.progress-bar {
    width: 100%;
    height: 15px;
    background: #390f4e;
    position: relative;
}

/* To add padding between question and progress bar */

.padding-div {
    position: relative;
    background: inherit;
    width: 30%;
    height: 25px;
    padding-bottom: 10px;
}

#progress-bar-left {
    background: linear-gradient(
        90deg,
        rgba(72, 255, 72, 1) 0%,
        rgba(255, 193, 58, 1) 50%,
        rgba(255, 58, 58, 1) 100%
    );
}

#progress-bar-right {
    background: linear-gradient(
        90deg,
        rgba(255, 58, 58, 1) 0%,
        rgba(255, 193, 58, 1) 50%,
        rgba(72, 255, 72, 1) 100%
    );
}

#progress-left {
    position: absolute;
    width: 0%;
    height: 100%;
    background: #ececec;
    top: 0;
    left: 0;
}

#progress-right {
    position: absolute;
    width: 0%;
    height: 100%;
    background: #ececec;
    top: 0;
    right: 0;
}

/* Question */

#question {
    position: relative;
    background-color: #390f4e;
    color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 0px 20px 0px 20px;
    /* border-top: 2px solid#f0d245; */
}

#answer-container {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 1%;
}

.option-color {
    color: #f0d245;
    font-weight: bold;
}

.answer {
    position: relative;
    background-color: #390f4e;
    margin-bottom: 10px;
    padding: 15px 20px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0px 15px 0px 15px;
}

/* Hide the browser's default radio button */

#answer-container label input {
    display: none;
}

/* .answer:hover {
    background-color: #f0d245;
    color: rgb(42, 42, 42);
} */

.checked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 15px 0px 15px;
}

.checked:after {
    content: '';
    position: absolute;
    display: none;
}

/* When the radio button is checked, add a yellow background */

#answer-container input:checked ~ .checked {
    background-size: 100%;
    border: 1px solid;
    background-color: #f0d245;
    opacity: 0.4;
}

.buttons {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    grid-column-gap: 1%;
}

#lock-button {
    background: linear-gradient(
        90deg,
        rgba(240, 176, 0, 1) 0%,
        rgba(224, 209, 70, 1) 50%,
        rgba(240, 176, 0, 1) 100%
    );
    padding: 15px 20px;
    width: 100%;
    border-style: none;
    margin-top: 30px;
    border-radius: 0px 15px 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#quit-button {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(242, 105, 105, 1) 50%,
        rgba(255, 1, 1, 1) 100%
    );
    padding: 15px 20px;
    width: 100%;
    border-style: none;
    margin-top: 30px;
    border-radius: 0px 15px 0px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

/* Audience Poll Dialog */

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: none;
    border: 2px solid #f0d245;
    padding: 20px;
    background: #390f4e;
    border-radius: 0px 20px 0px 20px;
}

.dialog-message {
    font-family: 'Poppins';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0px;
}

.dialog-close {
    width: 100%;
    margin: 10px 0px;
    padding: 5px 0px;
    background: linear-gradient(
        90deg,
        rgba(240, 176, 0, 1) 0%,
        rgba(224, 209, 70, 1) 50%,
        rgba(240, 176, 0, 1) 100%
    );
    border-style: none;
    border-radius: 0px 10px 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#end-game-dialog {
    display: none;
    position: absolute;
    bottom: 3%;
    left: 3%;
    width: 94%;
    background: linear-gradient(
        90deg,
        rgba(240, 176, 0, 1) 0%,
        rgba(224, 209, 70, 1) 50%,
        rgba(240, 176, 0, 1) 100%
    );
    color: #121212;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    border-radius: 0px 20px 0px 20px;
}

aside {
    border-left: 3px solid #f0d245;
    background-color: #390f4e;
    width: 30%;
}

.lifelines {
    padding: 20px 10px;
    width: 100%;
    height: 15%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.lifeline {
    position: relative;
    width: 15%;
    height: 80%;
    border: 2px solid #f0d245;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

.lifeline img {
    width: 60%;
}

.lifeline #fifty-fifty-image {
    width: 75%;
    opacity: 1;
}

.button {
    background: red;
}

.cross {
    position: relative;
    background: beige;
    top: 0%;
}

.unused {
    display: none;
}

.used {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.line1 {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: rotate(135deg);
}

.line2 {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: rotate(45deg);
}

.price-table {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0px 40px;
}

.price-table-no {
    letter-spacing: 1px;
    text-align: end;
    width: auto;
    color: #f0d245;
    padding: 5px 30px 5px 10px;
}

.reached {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

.price-table-data {
    letter-spacing: 1px;
    width: auto;
    color: #f0d245;
    padding: 5px 30px;
}

.checkpoint {
    color: rgb(236, 236, 236);
}

.locked {
    opacity: 0.6;
}

.unlocked {
    opacity: 1;
}
